@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');
body::before {
    content: '';
    position: fixed; 
    left: 0; right: 0; 
    top: 0; bottom: 0; 
    z-index: -1;
	background-size: cover;
    background: url(https://i.pinimg.com/originals/ba/e0/b1/bae0b111491f38f225962f347ef50248.gif) center / cover no-repeat;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
	position: relative;
	font-family: 'Fira Sans', sans-serif;
	font-weight: lighter;
	font-size: 48px;
}
body {
  height: 100%;
  margin: 0;
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: lighter;
  font-size: 24px;
}
.av {
    border-radius: 360px;
    box-shadow: 0 0 75px black;
}

@media screen and (min-width: 2560px) {
	button{
		width: 8%;
		height: 5%;
		font-family: 'Fira Sans', sans-serif; font-size: 24px;
	}
}
button {
  font-family: 'Fira Sans', sans-serif; font-size: 16px;
}

.btn {
  color: white;
  background-color: transparent;
  border: 1px solid white;

  padding: 6.25px 15px;
  transition: all 0.3s cubic-bezier(0.1, 0.9, 0.2, 1);
  outline: none;
}

.btn:hover {
  background-color: #0078d4;
  border: 1px solid #0078d4;
}

.btn:active {
  background-color: #005ba1;
}
